!!! 5
html(lang="en")
  head
    title Social Network
    link(rel='stylesheet',href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css')
    link(rel='stylesheet',href='/styles/styles.css')
  body
    block content
    
    block scripts
