!!! 5
html(lang="en")
  head
    title Social Network
    link(rel='stylesheet',href='//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css')
    link(rel='stylesheet',href='/styles/styles.css')
  body
    block content
    
    block scripts
