<!DOCTYPE html>
<html lang="en">
  <head>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Startup Dashboard</title>
    <!--link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"-->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.0.0/flatly/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/custom.css">


  </head>
  <body>
   <%- body %>
   <%- scripts %>
  </body>
</html>
